{% extends 'base.html.twig' %} {# on étend le fichier base.html.twig #}

{# title injection #}
{% block title %}
Accueil
{% endblock %}
{# fin #}

{# css injection #}
{% block stylesheets %}
{% endblock %}
{# fin #}
    
{# js injection #}
{% block javascripts %}

{% endblock %}
{# fin #}

{# body injection #}
{% block content %}
<div class="banner">

</div>
{% endblock %}
{# fin #}
