{% extends 'base.html.twig' %} {# on étend le fichier base.html.twig #}

{# title injection #}
{% block title %}
Accueil
{% endblock %}
{# fin #}

{# css injection #}
{% block stylesheets %}
<link rel="stylesheet" href="assets/css/home.css">
{% endblock %}
{# fin #}
    
{# js injection #}
{% block javascripts %}

{% endblock %}
{# fin #}

{# body injection #}
{% block content %}
<div class="banner">
    <img src="assets/image/banner.jpg" style="width: 100%; height: auto;" alt="">
</div>
<br>
<div class="titre"><h2>Bienvenue sur Grenier du Joueur - L’univers
    retro des jeux et consoles ! </h2><br><br>
    <img src="assets/image/console.png">
    <img src="assets/image/mario.png"></div><br><br>
    <div class="acctexte"><p>Plongez dans le monde nostalgique des jeux rétro avec Grenier du Joueur passionné chevronné ou que vous découvriez les trésors du passé, notre plateforme est le lieu idéal pour explorer et partager votre amour des jeux et des consoles rétro.</p><br><br>
    <h3>Decouvrez notre Collection Unique</h3><br>
    <p>Parcourez notre vaste collection de jeux rétro soigneusement sélectionnés. Des classiques intemporels aux pépites méconnues, notre catalogue couvre toutes les époques et tous les genres. Chaque titre raconte une histoire, chaque console réveille des souvenirs. Explorez notre bibliothèque virtuelle et revivez l'âge d'or du gaming.</p><br><br>
    <h3>Pret a Plonger dans l’Aventure ?</h3><br>
    <p>Rejoignez-nous dans cette aventure à travers le temps, où chaque pixel a une histoire à raconter. Grenier du Joueur est votre porte d'entrée vers un monde où les graphismes sont simples, mais les expériences sont infinies. Que votre cœur batte pour les 8 bits, 16 bits, ou plus, notre communauté rétro vous attend.Découvrez, partagez, et replongez dans l'ère dorée du jeu vidéo avec Grenier du Joueur ! </p></div>
{% endblock %}
{# fin #}
