.color-bg {
    background: radial-gradient(circle at center, yellow 10%, orange 70%) ;
}
.item {
    color: aliceblue;
    text-decoration: none;
}

.btns {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
}

.btn {
    background: #785216;
    padding: 5px 25px;
    border-radius:  30px
}

.btn:hover {
    background: #876b3e;
    cursor: pointer;
}
h1,h2 {
    font-family:'CC Running With Scissors';
    

}