.navbar {
    background-color: #f67828 ;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: .5rem;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 4rem;
}

