.navbar {
    background-color: #f67828 ;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 1rem;
    align-items: center;

}

.navbar a.item {
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
    line-height: 100px;
}
.mav-links {
    display: flex;
    gap: 7rem;
}
.mav-links a:hover {
    text-decoration: underline;

}
.navbar a {
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
}
.btn-connexion {
    background-color: #968982;
    padding: 10px 50px;
    color: #fff;
    background-color: #c06934;
   border-radius: 30px;

}