<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        {% block initCss %}
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/header.css">
        <link rel="stylesheet" href="assets/css/footer.css">
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {# include header #}
        {% include 'partial/header.html.twig' %}
        {% endblock %}

        {% block content %}
        {# code... #}
        {% endblock %}

        {% block footer %}
        {# include footer #}
        {% include 'partial/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
