<nav class="navbar">
    <div class="logo" width="100px">
        <a href="{{path('app_home')}}"><img src="assets/image/logo.png" alt="logo" width="100px"></a>
    </div>
    <div class="mav-links">
    <a href="{{path('app_home')}}" class="item">Accueil</a>
    <a href="" class="item">Jeux</a>
    <a href="" class="item">Consoles</a>
    <a href="" class="item">Statistiques</a>
</div>
    <div class="btn-connexion">
        <a href="" class="">Connexion</a>   
    </div>
</nav>